#mainSearch {
    margin-top: 10%;
}
#wrapper {
    width: 80%;
    margin: 0 auto;
}

#mainLogo {
    width:120px;
    height:41px;
    background:url("../img/logo_klein.png");
    margin:0px auto;
}
